PORT=5000
MONGO_URI=mongodb://localhost:27017/eventora
EMAIL_USER= siddheshpawar1196@gmail.com
EMAIL_PASS= apuelieguuufvsoi

# //4 letters nanatar space hota password madhe

JWT_SECRET= your_jwt_secret_key_sdbdjkfnlasjkdfanlskdfnj7834952398